*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: rgb(201, 201, 201);
}

.container-video {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
}

video:hover {
    box-shadow: 20px 20px 40px rgb(255, 0, 217);
}

.child-video{
    margin: 15px;
    box-shadow: 5px 5px 20px rgb(255, 0, 217);
}

.container-footer {
    margin: 10px;
    display: flex;
    justify-content: center
}
.container-footer .footer {
    font-weight: 200px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 3px solid black;
    background: black;
    padding: 10px;
    border-radius: 10px;
}

.container-footer:hover a {
    color: rgb(255, 0, 238);
    box-shadow: 5px 5px 20px rgb(255, 0, 217);
}

.card:hover a {
    box-shadow: 5px 5px 20px rgb(255, 0, 217);
    color: rgb(255, 0, 217);
}